#divChart {
  margin-top: 6rem;
  position: absolute;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(240, 240, 255);
}

#chart {
  height: 90vh !important;
  width: 40%;
}

#divArticlesUser {
  margin-top: 3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#divArticlesUser>h1 {
  margin-bottom: 2rem;
}

#divArticles {
  display: flex;
  gap: 4%;
  justify-content: center;
  width: 70%;
}

#divBtnSuppr {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#divBtnModif {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

